.container{
    display: flex;
    justify-content: space-between;
}

.payment-calendar{
    width:40%;

}

.payment-table{
    width: 60%;
}

.assign-name{
    margin-bottom: 10px;
    font-weight: bold;
}

.select-assign{
    margin-left: 100px;
    width: 200px;
    height: 30px;
}

#calendar{
    font-family: Arial, sans-serif;
    padding-top:30px;
    padding-bottom: 30px;
    margin: 20px;
    width: 500px;
    height: 500px;
}
